<DOCTYPE html>
<html>
      <head>
	     <style>
     /* saved inside ca_soriaga_1qproj_v1.html */
         div {
			   background-color: lightgrey;
               padding: 15px;
             }
		 h1 { 
		     background-color: lightgrey;
		 }
		       background-color: lightgrey;
           #img1 {
                     z-index: 10;
                     position: relative;
					 float: left;
					 top: 20px;
                     right: 30px;
                     bottom: 40px;
                     left: 50px;
                     border: 1px solid;

              }
					 
	</style>
	  </head>
	  <body> 
	        <div>
			     <h1></h1>
				 <p></p>
			</div>
	  </body>
</html>